@font-face {
    font-family: "myFirstFont";
    src:url("C:\Users\MILAN\Downloads\Dezvolta-19\dezvolta\public\roboto-100.woff") format("woff");
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100dvw;
  padding-top: 2.5rem;
  height: 100%;
  scale: 0.9;
  color: #000;

  @media (width < 780px) {
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-top: 0.25rem;
    scale: 0.65;
    width: 100dvw;
    height: 100dvh;
  }
}
.left {
  width: 50dvw;
  @media (width < 780px) {
    width: 100%;
    margin-bottom: 2.5rem;

    .h6 {
      margin: 0;
    }
  }
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 2rem;
  .h6 {
    margin: 0;
    font-size: 17px;
    line-height: 30px;
    font-family: "Archivo";
    font-weight: 400;
    text-align: justify;
  }
  .hone {

    font-size: 60px;
    font-weight: 100;

  }
}
.years {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .yearsNo {
    display: flex;
    flex-direction: row;
    font-family: 600;
    font-family: "Archivo";
    font-size: 3rem;
    justify-content: start;
  }
  .yearsText {
    text-align: right;
    align-items: center;
    margin-left: 5rem;
    display: flex;
    align-items: center;
    font-family: "Archivo";
    font-weight: 500;
    font-size: 20px;
    @media (width < 780px) {
      margin-left: 0rem;
    }
  }
}

.Emp {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .EmpNo {
    display: flex;
    flex-direction: row;
    font-family: 600;
    font-family: "Archivo";
    font-size: 3rem;
    justify-content: start;
  }
  .EmpText {
    text-align: right;
    align-items: center;
    font-weight: 500;
    display: flex;
    margin-left: 5rem;
    align-items: center;
    font-family: "Archivo";
    font-size: 20px;
    @media (width < 780px) {
      margin-left: 0rem;
    }
  }
}

.Deliver {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .DeliverNo {
    display: flex;
    font-family: 600;
    font-family: "Archivo";
    font-size: 3rem;
    flex-direction: row;
    justify-content: start;
  }
  .DeliverText {
    display: flex;
    align-items: center;
    font-family: "Archivo";
    font-size: 20px;
    font-weight: 500;
    text-align: right;
    margin-left: 5rem;
    @media (width < 780px) {
      margin-left: 0rem;
    }
  }
}

.line {
  border-top-width: 10px;
  border-bottom-width: 0px;
  border-color: rgb(0 0 0);
}
.whole_row {
  display: flex;
  flex-direction: row;
}
.whole_col {
  display: flex;
  flex-direction: column;

  @media (width < 780px) {
    scale: 0.8;
  }
}
.whole {
  text-align: left;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.wholeleft {
  text-align: left;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.right {
  font-size: 2rem;
  display: flex;
  height: 100vh;

  @media (width < 780px) {
    width: 100%;
    padding: 0;
    margin: auto;
    scale: 1.5;
  }
}
.sectionryt {
  margin: auto;
}
.sectionleft {
  margin: auto;
}
.divider {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
  border-color: #000;
  border-radius: 20px;
}
